{% extends "shop/base.html" %}

{% block title %}
  <!-- 페이지 제목 설정 -->
  Checkout
{% endblock %}

{% block content %}
  <h1>Checkout</h1>
  <div class="order-info">
    <h3>Your order</h3>
    <ul>
      {% for item in cart %}
        <li>
          <!-- 장바구니 항목 수량과 제품 이름 표시 -->
          {{ item.quantity }}x {{ item.product.name }}
          <!-- 장바구니 항목 총 가격 표시 -->
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <!-- 장바구니 총 가격 표시 -->
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>
  <!-- 주문 생성 폼 -->
  <form method="post" class="order-form">
    <!-- 폼 필드 표시 -->
    {{ form.as_p }}
    <!-- 주문 제출 버튼 -->
    <p><input type="submit" value="Place order"></p>
    <!-- CSRF 토큰 추가 -->
    {% csrf_token %}
  </form>
{% endblock %}